@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
* {
  font-family: 'Nunito Sans', sans-serif;
}
body {
  background-color: #fef9f3;
}
.App {
  text-align: center;
}
.center-container {
  display: flex;
  justify-content: center;
  padding-right: 0.7rem;
  margin: 5px;
  align-items: center;
}

#dropdown {
  margin-left: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
}

#cityList {
  border-radius: 10px;
  padding: -1rem;
}

#cityList input {
  margin: 5px;
}

.about-body {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
}

#about-images {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 54px;
}

#about-person {
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  padding: 10px;
}

.about-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5x;
  background-color: rgb(198, 230, 241);
  height: 2.5rem; /* Footer height */
}

.top-banner {
  background-image: url('../components/AboutImages/banner\ image.jpg');
  height: 85vh;
  width: 100%;
  background-size: 100% 85vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
}

.dropdowns {
  margin: 0;
  padding-top: 50px;
}

.dropdown-titles {
  text-align: center;
}

.dropdown-titles h1 {
  margin: 0;
  padding-top: 30px;
}

.dropdown-titles h5 {
  margin: 10px 0;
}

#solutions-bannerimage {
  padding-top: 20px;
  text-align: center;
}

.bottom-image {
  background-image: url('../components/AboutImages/bottom-image.png');
  height: 60vh;
  width: 100%;
  background-size: 100% 60vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.bottom-hero-text {
  text-align: center;
  margin-top: 110px;
}
.bottom-hero-text h4 {
  color: white;
}
.bottom-hero-text h5 {
  color: rgb(34, 34, 104);
}
