.App {
  text-align: center;
}
.center-container {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

/* .about {
  display: flex;
  justify-content: center;
}
.solutions {
  display: flex;
  justify-content: center;
} */

/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */
/* 
#demo {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#demo h1 {
  display: grid;
  place-items: center;
}

END DEMO */
