@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
* {
  font-family: 'Nunito Sans', sans-serif;
}
body {
  background-color: #fef9f3;
}
.App {
  text-align: center;
}
.center-container {
  display: flex;
  justify-content: center;
  padding-right: 0.3rem;
  margin: 5px;
  padding-top: 1rem;
  align-items: center;
  position: relative;
}


                                                                       /* DROPDOWN BOX BEG */

.center-container select {
  appearance: none;
  padding: 0px 12px;
  margin-right: 0.8rem;
  font-size: 12px;
  line-height: 1.75;
  color: rgb(127, 124, 124);
  background-color: #ffffff;
  background-image: url('../components/AboutImages/downarrow.png');
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: 12.3rem,center;
  border: 1px solid #bebebe;
  width: 13.7rem;
  height: 2.1rem;
  border-radius: 0.2rem;
}

                                                                      /* DROPDOWN BOX END */
.navigation {
  display: flex;
  justify-content: center;
}
                                                                      /* SEARCH BOX BEG */

#citySearchbar::-webkit-calendar-picker-indicator {
  display: none;
}

#citySearchbar {
  font-size: 0.7rem;
  padding:0 12px;
  margin-right: 0.8rem; 
  width: 13.7rem;
  height: 2.1rem;
  border-radius: 0.2rem;
  border: 1px solid #bebebe;
  background-image: url('../components/AboutImages/downarrow.png');
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: 12.3rem,center;
  
}
                                                                       /* SEARCH BOX END */

#searchbar-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

                                                                        /* BUTTONS BEG */
/* THIS IS THE SUBMIT BUTTON FOR THE SEARCH CITY FORM */
#checkCity, #compare-cities {
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 3.7px;
    /* border-right: 1px solid white; */
    font-size: 0.75rem;
    font-weight: bolder;
    margin-right: 1.1rem;
    width: 9.5rem;
    height: 2.4rem;
}

#checkCity {
  margin-right: 0.6rem;
}

.buttons-div {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;

}

                                                                       /* BUTTONS END */
                                                                       
.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-body {
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
}

h10 {
  font-size: 25px;
  font-weight: bold;
}

h9 {
  font-size: 20px;
  font-style: italic;
}

.solutions-body {
  font-size: 18px;
  display: flex;
  text-align: center;
  padding: 10px;
  margin: 5px;
  flex-direction: column;
}

#about-images {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 54px;
}

#about-person {
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  padding: 10px;
}

.top-banner {
  background-image: url('../components/AboutImages/banner\ image.jpg');
  height: 85vh;
  width: 100%;
  background-size: 100% 85vh;
  /* background-repeat: no-repeat; */
  background-position: -13rem;
  padding: 0;
  margin: 0;
}

.top-banner-inner-pages {
  background-image: url('../components/AboutImages/banner\ image\ side\ pagea.jpg');
  height: 40vh;
  width: 100%;
  background-size: 100% 35vh;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}

#title-inner-pages {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7%
}

.dropdowns {
  margin: 0;
  padding-top: 50px;
}

.dropdown-titles {
  text-align: center;
}

.dropdown-titles h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  padding-top: 5rem;
}

.dropdown-titles h5 {
  font-size: 1rem;
  color: #6e6e6e;
  margin: 10px 0;
}

#solutions-bannerimage {
  padding-top: 20px;
  text-align: center;
}

.bottom-image {
  background-image: url('../components/AboutImages/bottom-image.png');
  height: 60vh;
  width: 100%;
  background-size: 100% 60vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.bottom-hero-text {
  text-align: center;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer-subtitle {
  font-size: 22px;
  color: #00305b;
}

#footer-contact {
  font-size: 40px;
  color: white;
  font-style: bold;
  font-weight: 1000;
}

#footer-contact-number {
  font-size: 20px;
  color: white;
  font-style: bold;
  font-weight: 1000;
}

.about-footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5x;
  background-color: rgb(198, 230, 241);
  height: 2.5rem; /* Footer height */
}

.disabledButton{
  background-color: darkgrey !important;
}

#date{
  font-size: 16px;
}

a {
  text-decoration: none;
}