body {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fef9f4;
}
.nav-bar ul {
  height: 100px;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 40px;
  margin: 0;
  position: relative;
}

.menu__link {
  color: #151515;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.logo-img {
  height: 100%;
  justify-content: center;
}

.menu__link:hover {
  color: #639ccd;
}
.menu__link--active {
  color: #639ccd;
  border-top: 4px solid #639ccd;
  font-weight: 700;
}
